body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.head{
    color: brown;
    text-align: center;
    font-family: Lucida, Sans, Serif;
}

.container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #333;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#nickname {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

.comment h3{
    color: red;
}

marquee{
    text-transform: uppercase;
}